<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%">  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * İkili dosyaya erişimi diğer sınıflardan soyutlayan sınıf.</span>
<span style="color: #008800; font-style: italic"> * </span>
<span style="color: #008800; font-style: italic"> * Detaylı bilgi BooksIOHelper.h dosyasındadır.</span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic">**/</span>

<span style="color: #008080">#include &quot;../include/BooksIOHelper.h&quot;</span>
<span style="color: #008080">#include &quot;../include/DATARULES.h&quot;</span>
<span style="color: #008080">#include &lt;string&gt;</span>
<span style="color: #008080">#include &lt;iostream&gt;</span>
<span style="color: #008080">#include &lt;cstdio&gt;</span>

BooksIOHelper::BooksIOHelper(){
    <span style="color: #000080; font-weight: bold">this</span>-&gt;open_file();
    <span style="color: #000080; font-weight: bold">this</span>-&gt;BUFFER_SIZE = buffer_size();
    <span style="color: #000080; font-weight: bold">this</span>-&gt;total_book_count = get_count();
}

<span style="color: #000080; font-weight: bold">int</span> BooksIOHelper::buffer_size(){
    <span style="color: #000080; font-weight: bold">int</span> size = STATE_SIZE +
	       ISBN_SIZE +
	       NAME_SIZE +
	       AUTHOR_SIZE +
	       COST_SIZE;

    <span style="color: #000080; font-weight: bold">return</span> size;
}

<span style="color: #000080; font-weight: bold">bool</span> BooksIOHelper::open_file(){

    <span style="color: #000080; font-weight: bold">this</span>-&gt;book_file.open(DATAFILENAME,
			 std::ios::binary | std::ios::out |
			 std::ios::in | std::ios::ate);

   
    <span style="color: #000080; font-weight: bold">if</span> (book_file.is_open()){ 
        <span style="color: #000080; font-weight: bold">return</span> true;
    }
    <span style="color: #000080; font-weight: bold">else</span> <span style="color: #000080; font-weight: bold">return</span> false;
}

<span style="color: #000080; font-weight: bold">void</span> BooksIOHelper::go_record(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> record_index){
    <span style="color: #000080; font-weight: bold">int</span> record_byte;
    record_byte = record_index * <span style="color: #000080; font-weight: bold">this</span>-&gt;BUFFER_SIZE;

    <span style="color: #000080; font-weight: bold">if</span> (record_index &lt; total_book_count)
	book_file.seekg(record_byte);
}

<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> BooksIOHelper::compress_file(){
    std::ofstream temp_file(<span style="color: #0000FF">&quot;../data/t_Books.bin&quot;</span>, std::ios::binary);
    <span style="color: #000080; font-weight: bold">register</span> <span style="color: #000080; font-weight: bold">char</span>* record = <span style="color: #000080; font-weight: bold">new</span> <span style="color: #000080; font-weight: bold">char</span>[BUFFER_SIZE];

    <span style="color: #000080; font-weight: bold">register</span> <span style="color: #000080; font-weight: bold">int</span> i = <span style="color: #0000FF">0</span>;
    <span style="color: #000080; font-weight: bold">while</span> (i &lt; total_book_count){
	<span style="color: #000080; font-weight: bold">this</span>-&gt;go_record(i);
	book_file.get(record[<span style="color: #0000FF">0</span>]);
	<span style="color: #000080; font-weight: bold">if</span>(record[<span style="color: #0000FF">0</span>] == <span style="color: #800080">&#39;n&#39;</span>){
	    book_file.read(record+<span style="color: #0000FF">1</span>, BUFFER_SIZE-<span style="color: #0000FF">1</span>);
	    temp_file.write(record, BUFFER_SIZE);
	}
	i++;
    }
    <span style="color: #000080; font-weight: bold">delete</span>[] record;


    temp_file.flush();

    book_file.close();
    temp_file.close();

    std::remove(DATAFILENAME.c_str());
    std::rename(<span style="color: #0000FF">&quot;../data/t_Books.bin&quot;</span>, DATAFILENAME.c_str());

    <span style="color: #008800; font-style: italic">// Constructor yeniden yazılır.</span>
    <span style="color: #000080; font-weight: bold">this</span>-&gt;open_file();
    <span style="color: #000080; font-weight: bold">this</span>-&gt;total_book_count = get_count();
    <span style="color: #000080; font-weight: bold">return</span> <span style="color: #0000FF">1</span>;
}

Book BooksIOHelper::get_record(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index){

  <span style="color: #000080; font-weight: bold">char</span>* data_str = <span style="color: #000080; font-weight: bold">new</span> <span style="color: #000080; font-weight: bold">char</span>[BUFFER_SIZE];
  Book book;
  
  <span style="color: #000080; font-weight: bold">this</span>-&gt;go_record(index);

  book_file.read(data_str, BUFFER_SIZE);
  book.deserialize(data_str);

  <span style="color: #000080; font-weight: bold">delete</span>[] data_str;
  <span style="color: #000080; font-weight: bold">return</span> book;
}

std::string BooksIOHelper::get_just_name(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index){
    std::string name;
    <span style="color: #000080; font-weight: bold">char</span> * temp_data = <span style="color: #000080; font-weight: bold">new</span> <span style="color: #000080; font-weight: bold">char</span>[NAME_SIZE];
    
    <span style="color: #000080; font-weight: bold">this</span>-&gt;go_record(index); <span style="color: #008800; font-style: italic">// Kaydın başı</span>

    <span style="color: #000080; font-weight: bold">int</span> data_byte = (<span style="color: #000080; font-weight: bold">int</span>)book_file.tellg()+STATE_SIZE+ISBN_SIZE;
    book_file.seekg(data_byte); <span style="color: #008800; font-style: italic">//Kaydın ortası</span>

    book_file.read(temp_data, NAME_SIZE);

    name = Book::strip_str(temp_data);

    <span style="color: #000080; font-weight: bold">delete</span>[] temp_data;

    <span style="color: #000080; font-weight: bold">return</span> name;
}

std::string BooksIOHelper::get_just_isbn(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index){
    std::string name;
    <span style="color: #000080; font-weight: bold">char</span> * temp_data = <span style="color: #000080; font-weight: bold">new</span> <span style="color: #000080; font-weight: bold">char</span>[ISBN_SIZE];
    
    <span style="color: #000080; font-weight: bold">this</span>-&gt;go_record(index); <span style="color: #008800; font-style: italic">// Kaydın başı</span>
    <span style="color: #000080; font-weight: bold">int</span> data_byte = (<span style="color: #000080; font-weight: bold">int</span>)book_file.tellg()+STATE_SIZE;
    book_file.seekg(data_byte); <span style="color: #008800; font-style: italic">//Kaydın ortası</span>

    book_file.read(temp_data, ISBN_SIZE);

    name = Book::strip_str(temp_data);

    <span style="color: #000080; font-weight: bold">delete</span>[] temp_data;

    <span style="color: #000080; font-weight: bold">return</span> name;
}

<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> BooksIOHelper::get_count(){
  <span style="color: #000080; font-weight: bold">int</span> count;
  <span style="color: #000080; font-weight: bold">int</span> current_position;

  current_position = book_file.tellg();
  
  book_file.seekg(<span style="color: #0000FF">0</span>, std::ios::end);
  count = book_file.tellg();
  book_file.seekg(current_position);

  <span style="color: #000080; font-weight: bold">return</span> count/BUFFER_SIZE;
}

<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> BooksIOHelper::get_deleted_count(){
    <span style="color: #000080; font-weight: bold">char</span> state;
    <span style="color: #000080; font-weight: bold">int</span> total = <span style="color: #000080; font-weight: bold">this</span> -&gt; get_count();

    <span style="color: #000080; font-weight: bold">register</span> <span style="color: #000080; font-weight: bold">int</span> i = <span style="color: #0000FF">0</span>;
    <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> count = <span style="color: #0000FF">0</span>;
    <span style="color: #000080; font-weight: bold">while</span> (i&lt;total){
	<span style="color: #000080; font-weight: bold">this</span> -&gt; go_record(i);
	book_file.get(state);
	<span style="color: #000080; font-weight: bold">if</span> (state == <span style="color: #800080">&#39;d&#39;</span>)
	    count++;
	i++;
    }

    <span style="color: #000080; font-weight: bold">return</span> count;
}

<span style="color: #000080; font-weight: bold">void</span> BooksIOHelper::add_book(Book book){
  book_file.seekg(total_book_count*BUFFER_SIZE);
  book_file &lt;&lt; book.serialize();
  <span style="color: #000080; font-weight: bold">this</span>-&gt;total_book_count++;
  book_file.flush();
}

<span style="color: #000080; font-weight: bold">void</span> BooksIOHelper::write_book(Book book, <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index){
  go_record(index);
  book_file &lt;&lt; book.serialize();
  book_file.flush();
}

<span style="color: #000080; font-weight: bold">void</span> BooksIOHelper::delete_book(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index){
  go_record(index);
  book_file &lt;&lt; <span style="color: #800080">&#39;d&#39;</span>;
  book_file.flush();
}

<span style="color: #000080; font-weight: bold">void</span> BooksIOHelper::swap_records(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index_1, <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index_2){
    Book book_1;
    Book book_2;
    book_1 = <span style="color: #000080; font-weight: bold">this</span>-&gt;get_record(index_1);
    book_2 = <span style="color: #000080; font-weight: bold">this</span>-&gt;get_record(index_2);

    <span style="color: #000080; font-weight: bold">this</span>-&gt;write_book(book_1, index_2);
    <span style="color: #000080; font-weight: bold">this</span>-&gt;write_book(book_2, index_1);
    book_file.flush();
}

<span style="color: #000080; font-weight: bold">void</span> BooksIOHelper::save_file(){
    book_file.flush();
}

<span style="color: #000080; font-weight: bold">void</span> BooksIOHelper::close_file(){
  <span style="color: #008800; font-style: italic">//this-&gt;compress_file();</span>
  book_file.close();
}
</pre></td></tr></table></div>

