<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%">  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * Yazar: Berkay Dedeoğlu</span>
<span style="color: #008800; font-style: italic"> * Tarih: 01.03.2018</span>
<span style="color: #008800; font-style: italic"> **/</span>


<span style="color: #008080">#ifndef BOOKSIOHELPER_H</span>
<span style="color: #008080">#define BOOKSIOHELPER_H</span>

<span style="color: #008080">#include &lt;fstream&gt;</span>
<span style="color: #008080">#include &lt;string&gt;</span>
<span style="color: #008080">#include &quot;Book.h&quot;</span>

<span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * Kitap verilerinin tutulduğu binary dosyaya erişimi sağlayan</span>
<span style="color: #008800; font-style: italic"> * sınıftır.</span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic"> * Proje boyunca ikili dosyaya sadece buradan erişim sağlanır.</span>
<span style="color: #008800; font-style: italic"> * Dosya bu sınıf ile projenin diğer modüllerinden </span>
<span style="color: #008800; font-style: italic"> * soyutlanmıştır.</span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic"> * Sınıfla sadece Book nesneleri kullanarak iletişim kurabilirsiniz.</span>
<span style="color: #008800; font-style: italic"> **/</span>
<span style="color: #000080; font-weight: bold">class</span> BooksIOHelper{

 private:
  std::fstream book_file;
  <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> BUFFER_SIZE;
  <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> total_book_count;
  

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * DATARULES.h dosyasından alınan veri boyutlarını</span>
<span style="color: #008800; font-style: italic">   * toplayan metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *   int: Bir verinin dosyadaki toplam boyutu (byte)</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">int</span> buffer_size();


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Dosya işaretçisini, verilen kitap verisinin</span>
<span style="color: #008800; font-style: italic">   * başına koyan metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Input--</span>
<span style="color: #008800; font-style: italic">   *   int: Gidilmesi istenen kitabın sıra numarası </span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> go_record(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> record_index);

 public:

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Sadece özellikler ilklendirilir.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  BooksIOHelper();


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Binary veri dosyasını açan metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *    bool: Dosyanın açılıp açılamadığı durumu. </span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">bool</span> open_file();


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Dosyadan istenilen sıradaki veriyi alıp Book </span>
<span style="color: #008800; font-style: italic">   * nesnesine dönüştüren metoddur.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * Verinin silinmiş olması bu metodu etkilemez.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Input--</span>
<span style="color: #008800; font-style: italic">   *   int index: İstenilen kitabın indexsi.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *   Book: İstenilen sıradaki verinin Book nesnesi. </span>
<span style="color: #008800; font-style: italic">   **/</span>
  Book get_record(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index);

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Dosyadan kitapların yalnızca isimlerinin alınmasını sağlar.</span>
<span style="color: #008800; font-style: italic">   * Bu isimler ve metodun çağrılmasını sağlayan indexler sayesinde</span>
<span style="color: #008800; font-style: italic">   * sıralama ve arama işlemleri daha hızlı yapılır.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Input--</span>
<span style="color: #008800; font-style: italic">   *   unsigned int index: İsmin alınmak istendiği kaydın sıra numarası</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *   std::string: İstenilen kitabın yalnızca ismi.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  std::string get_just_name(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index);

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Dosyadan kitapların yalnızca isbn numaralrının alınmasını sağlar.</span>
<span style="color: #008800; font-style: italic">   * Bu isimler ve metodun çağrılmasını sağlayan indexler sayesinde</span>
<span style="color: #008800; font-style: italic">   * sıralama ve arama işlemleri daha hızlı yapılır.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Input--</span>
<span style="color: #008800; font-style: italic">   *   unsigned int index: isbn numarasının alınmak istendiği kaydın sıra numarası</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *   std::string: İstenilen kitabın yalnızca isbn numarası.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  std::string get_just_isbn(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index);

  
  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Veri dosyasındaki kitapların sayısını bulan </span>
<span style="color: #008800; font-style: italic">   * metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * Verilerin silinmiş olması bu metodu etkilemez.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *  int: Dosyadaki tüm verilerin kitap cinsinden adetdi.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> get_count();


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Veri dosyasının içindeki silinmiş (state değeri &#39;d&#39; olan)</span>
<span style="color: #008800; font-style: italic">   * kitapların sayısını döndüren metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * Lineer arama yaptığı için düşük performanslıdır. Ancak </span>
<span style="color: #008800; font-style: italic">   * verileri Book olarak almaz. Her kayıt için 1 veri okuyarak</span>
<span style="color: #008800; font-style: italic">   * kontrol eder.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *   int: Dosyadaki silinmmiş kayıtların sayısı. </span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> get_deleted_count();


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Dosyanın sonuna yeni kitap verisi ekleyen metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Input--</span>
<span style="color: #008800; font-style: italic">   *   Book: Dosyaya yazılması istenen Book nesnesi.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> add_book(Book book);


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Dosyada verilen index üzerindeki kayıdın </span>
<span style="color: #008800; font-style: italic">   * üzerine yazarak yeni kayıt oluşturan metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * Güncelleme yapmak ya da silinen veri üzerine </span>
<span style="color: #008800; font-style: italic">   * yazmak için kullanılabilir.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Inputs--</span>
<span style="color: #008800; font-style: italic">   *   Book: Yazılması istenen kitap nesnesi</span>
<span style="color: #008800; font-style: italic">   *   index: Üzerine yazılan kitabın dosya indeksi.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> write_book(Book book, <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index);


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Dosya üzerindeki indexi verilen kaydın durum değerini</span>
<span style="color: #008800; font-style: italic">   * değiştiren metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * Gerçek anlamda diskten silme işlemi yapmaz. Durum değerini</span>
<span style="color: #008800; font-style: italic">   * &#39;d&#39; (deleted) yapar.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Input--</span>
<span style="color: #008800; font-style: italic">   *   int: Silinme işaretçisinin değiştirilmesi istenen kayıt.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> delete_book(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index);


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Verilen iki indexteki verilerin yerini değiştiren </span>
<span style="color: #008800; font-style: italic">   * metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Input--</span>
<span style="color: #008800; font-style: italic">   *   int: Yerinin değiştirilmesi istenen kaydın sıra numarası</span>
<span style="color: #008800; font-style: italic">   *   int: Yerinin değiştirilmesi istenen kaydın sıra numarası</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> swap_records(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index_1, <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index_2);

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Veri dosyasında silinen veriler silinme işaretçisiyle</span>
<span style="color: #008800; font-style: italic">   * işaretlenir. Ancak bu veriler hala dosyada tutulmaya devam</span>
<span style="color: #008800; font-style: italic">   * eder. </span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * Bu metod bu verileri yeniden düzenleyerek silinen dosyaları </span>
<span style="color: #008800; font-style: italic">   * hafızadan gerçekten siler.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * Metod çalışırken diskte 2 dosya tutulur.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *  TODO: Bilinmiyor.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> compress_file();

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Tamponda bekleyen veriyi fiziksel belleğe aktaran </span>
<span style="color: #008800; font-style: italic">   * bilinen tanımıyla kaydeden method. </span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * flush() metodunun soyutlanmış halidir.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> save_file();

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Dosyanın kapatılması ve sıkıştırılmasını sağlayan metod.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> close_file();
};
<span style="color: #008080">#endif</span>
</pre></td></tr></table></div>

