<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%">  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * Yazar: Berkay Dedeoğlu</span>
<span style="color: #008800; font-style: italic"> * Tarih: 27.02.2018</span>
<span style="color: #008800; font-style: italic"> **/</span>


<span style="color: #008080">#ifndef BOOK_H</span>
<span style="color: #008080">#define BOOK_H</span>

<span style="color: #008080">#include &lt;string&gt;</span>


<span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * İkincil hafızadaki her kitabın birincil hafızaya alındığında</span>
<span style="color: #008800; font-style: italic"> * bilgilerinin tutulduğu ve bu tip hafıza transfer işlemlerinin</span>
<span style="color: #008800; font-style: italic"> * gerçekleşmesinin sağlandığı sınıftır.</span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic">**/</span>
<span style="color: #000080; font-weight: bold">class</span> Book {
  private:

  std::string state;  <span style="color: #008800; font-style: italic">// Kitabın silinmiş olup olmadığı (n/d) (normal/deleted)</span>
  std::string isbn;
  std::string name;
  std::string author;
  std::string cost;



  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Kitabın özelliklerinin dosyaya yazılmak için hazır duruma </span>
<span style="color: #008800; font-style: italic">   * getirildiği method. Dosyaya yazılırken tüm özellikler belirli </span>
<span style="color: #008800; font-style: italic">   * bir düzende, uzunlukta ve sırada yazılır.</span>
<span style="color: #008800; font-style: italic">   * </span>
<span style="color: #008800; font-style: italic">   * --Inputs--</span>
<span style="color: #008800; font-style: italic">   *   string str: Düzenlenmesi beklenen özellik.</span>
<span style="color: #008800; font-style: italic">   *   int size  : Her özelliğin byte uzunluğu bellidir. Bkz. DATARULES.h</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *   string : Özelliğin dosyaya yazılabilecek hali.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  std::string fill_string(std::string str, <span style="color: #000080; font-weight: bold">int</span> size);

  
 public:
  
  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Projenin tamamında sınıfın kullanımını kolaylaştırmak için kullanılabilecek </span>
<span style="color: #008800; font-style: italic">   * constructor. </span>
<span style="color: #008800; font-style: italic">   **/</span>
  Book();

  
  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * İlklendirilmelerin yapıldığı method.</span>
<span style="color: #008800; font-style: italic">   * </span>
<span style="color: #008800; font-style: italic">   * state durumu varsayılan olarak &#39;n&#39; (normal) dir.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  Book(std::string isbn, std::string name, std::string author, std::string cost);
  



  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Sınıfın taşıdığı kitabın gerçek anlamda dosya yazımına hazırlandığı</span>
<span style="color: #008800; font-style: italic">   * methoddur. </span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * Sınıfın tüm özellikleri fill_string methoduna verilir ve birleştirilir.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * Returns:</span>
<span style="color: #008800; font-style: italic">   *   string : 325 byte uzunluğunda dosyaya yazılmaya hazır string.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  std::string serialize();
  


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Nesne oluşturabilen bir static method. </span>
<span style="color: #008800; font-style: italic">   * Dosyadan alınan serialized kitap stringini </span>
<span style="color: #008800; font-style: italic">   * Book nesnesine dönüştürür.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Inputs--</span>
<span style="color: #008800; font-style: italic">   *   string serialized: Daha önce serialized fonksiyonundan çıkmış </span>
<span style="color: #008800; font-style: italic">   *              ya da dosyadan alınmış ham 325 byte uzunlukta string </span>
<span style="color: #008800; font-style: italic">   *              veri.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *   Book : Ham stringten elde edilmiş, RAM üzerinede yaşayabilecek</span>
<span style="color: #008800; font-style: italic">   *        bir Book nesnesi.</span>
<span style="color: #008800; font-style: italic">   */</span>
   <span style="color: #000080; font-weight: bold">void</span> deserialize(std::string serialized);
   
   
   
   <span style="color: #008800; font-style: italic">// Sınıf özelliklerinin getter ve setter metodları</span>
   std::string get_state();
   std::string get_isbn();
   std::string get_name();
   std::string get_author();
   std::string get_cost();

   <span style="color: #000080; font-weight: bold">void</span> set_state(std::string);
   <span style="color: #000080; font-weight: bold">void</span> set_isbn(std::string);
   <span style="color: #000080; font-weight: bold">void</span> set_name(std::string);
   <span style="color: #000080; font-weight: bold">void</span> set_author(std::string);
   <span style="color: #000080; font-weight: bold">void</span> set_cost(std::string);
   <span style="color: #008800; font-style: italic">// Sınıf özelliklerinin getter ve setter metodları</span>



   <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Kitabın özellikleri dosyaya yazılırken sabit uzunluklu </span>
<span style="color: #008800; font-style: italic">   * hale getirilir. </span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * Daha sonra bu veri dosyadan okunduğunda eklenen gereksiz </span>
<span style="color: #008800; font-style: italic">   * karakterlerin silinmesini sağlayan method.</span>
<span style="color: #008800; font-style: italic">   * </span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Inputs--</span>
<span style="color: #008800; font-style: italic">   *    string str: Soyulması gereken veri. Kitap nesnesi degil!!!</span>
<span style="color: #008800; font-style: italic">   * </span>
<span style="color: #008800; font-style: italic">   * </span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *    string: Verinin okunabilir hali </span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">static</span> std::string strip_str(std::string str);
};
<span style="color: #008080">#endif</span>
</pre></td></tr></table></div>

