<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%">  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * Yazar: Berkay Dedeoğlu</span>
<span style="color: #008800; font-style: italic"> * Tarih: 05.03.2018</span>
<span style="color: #008800; font-style: italic"> **/</span>

<span style="color: #008080">#ifndef COMMANDS_H</span>
<span style="color: #008080">#define COMMANDS_H</span>

<span style="color: #008080">#include &quot;BooksIOHelper.h&quot;</span>
<span style="color: #008080">#include &quot;Book.h&quot;</span>
<span style="color: #008080">#include &lt;string&gt;</span>
<span style="color: #008080">#include &lt;stack&gt;</span>


<span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * Sıralama ve arama işlemleri isme göre ya da isbn numarasına göre </span>
<span style="color: #008800; font-style: italic"> * yapılır. </span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic"> * Bu işleri yapan metodlara parametre olarak gönderilecek enum. </span>
<span style="color: #008800; font-style: italic"> **/</span>
<span style="color: #000080; font-weight: bold">enum</span> Command_Type {by_name, by_isbn};




<span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * Verilerin tutulduğu dosyaya doğrudan erişmeden veriler üzerinde </span>
<span style="color: #008800; font-style: italic"> * karmaşık işlemleri yapan sınıftır.</span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic"> * Kullanıcı arayüzünden alınan bilgiler direkt bu sınıfın metodlarına aktarılır.</span>
<span style="color: #008800; font-style: italic"> * </span>
<span style="color: #008800; font-style: italic"> * Dosyaya yalnızca BooksIOHelper sınıfı üzerinden erişilir. O sınıfın atomik </span>
<span style="color: #008800; font-style: italic"> * erişimleriyle daha karmaşık işlemler gerçekleştirilir.</span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic"> *--NOT--</span>
<span style="color: #008800; font-style: italic"> *   Bu sınıfın yalnız çalışması singleton patterniyle sağlanabilirdi ancak </span>
<span style="color: #008800; font-style: italic"> *   ödev kapsamında karışıklık sağlayacağından gerek duyulmadı.</span>
<span style="color: #008800; font-style: italic"> **/</span>
<span style="color: #000080; font-weight: bold">class</span> Commands{

 
 private:
   BooksIOHelper books;
   std::stack &lt;<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span>&gt;  deleted_books; <span style="color: #008800; font-style: italic">// Silinenler listesi</span>

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Kitapların dosyada sıralı olup olmadığını denetleyen metod.</span>
<span style="color: #008800; font-style: italic">   * arama işlemleri binary search ile yapıldığından bu metod </span>
<span style="color: #008800; font-style: italic">   * gereklidir.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Input--</span>
<span style="color: #008800; font-style: italic">   *    Command_Type type: Verilerin hangi açıdan sıralı olduğunun</span>
<span style="color: #008800; font-style: italic">   *                       belirtildiği parametre.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *    bool: Verilerin sıralı olduğu ya da olmadığı durum. (True/False)</span>
<span style="color: #008800; font-style: italic">   **/</span>
   <span style="color: #000080; font-weight: bold">bool</span> are_books_sorted(Command_Type type);

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Verilen aralıkta ve verilen tipte en küçük verinin sıra numarasını</span>
<span style="color: #008800; font-style: italic">   * döndüren metod. </span>
<span style="color: #008800; font-style: italic">   * Sıralama işleminde selection sort kullanıldığı için bu metod gereklidir.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Inputs--</span>
<span style="color: #008800; font-style: italic">   *    Command_Type type:  Hangi veri tipine göre verinin bulunacağını belirten parametre.</span>
<span style="color: #008800; font-style: italic">   *    unsigned int from:  Aramanın hangi sıradan başlayacağını belirten parametre.</span>
<span style="color: #008800; font-style: italic">   *    unsigned int to  :  Aramanın hangi sırada biteceğini belirten parametre.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *    unsigned int : İstenilen şartlardaki en küçük kaydın sıra numarası (index).</span>
<span style="color: #008800; font-style: italic">   **/</span>
   <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> smallest(Command_Type type, 
                        <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> from,
                        <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> to);

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Yalnızca isbn numarasına göre lineer arama yapan metod.</span>
<span style="color: #008800; font-style: italic">   * Bu metodun yerine binary search yapan &#39;find_book&#39; metodu</span>
<span style="color: #008800; font-style: italic">   * kullanılmadı çünkü yeni eklenen bir kayıt için sıralama</span>
<span style="color: #008800; font-style: italic">   * yapmak mecrburi tutulmadı.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * Yeni Book nesnesi eklendiğinde aynı isbn numarasına sahip</span>
<span style="color: #008800; font-style: italic">   * başka bir kaydın varlığını denetlemek için oluşturuldu.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Input--</span>
<span style="color: #008800; font-style: italic">   *    std::string isbn : Aranacak isbn numarası</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *    int : Bulunursa bulunan kaydın sıra numarası</span>
<span style="color: #008800; font-style: italic">   *          Bulunmazsa -1</span>
<span style="color: #008800; font-style: italic">   **/</span>
   <span style="color: #000080; font-weight: bold">int</span> linear_search_by_isbn(std::string isbn);
 
 public:
  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Özelliklerin ilklendirilmesi</span>
<span style="color: #008800; font-style: italic">   **/</span>
   Commands();


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Kayıtlarda bir kitabı bulmayı sağlayan metod. Binary search yöntemini kullanır.</span>
<span style="color: #008800; font-style: italic">   * Metodun doğru çalışması için kayıtların sıralı olması gerekir.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * Eğer sıralı değilse konsola uyarı mesajı yollar.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Inputs--</span>
<span style="color: #008800; font-style: italic">   *    Command_Type type: isbn ya da isme göre seçeneklerinden biri.</span>
<span style="color: #008800; font-style: italic">   *    std::string value: Aranması istenen veri.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *    unsigned int: Bulunan verinin sıra numarası. Eğer veri bulunmamıssa</span>
<span style="color: #008800; font-style: italic">   *                  -1 döner.</span>
<span style="color: #008800; font-style: italic">   **/</span>
   <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> find_book(Command_Type type, std::string value);

  
  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Selection sort yöntemiyle kayıtların istenilen tipte (isbn&#39;e göre/isime göre)</span>
<span style="color: #008800; font-style: italic">   * sıralayan metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Inputs--</span>
<span style="color: #008800; font-style: italic">   *    Command_Type type: Verilerin hangi tipe göre sıralanacağını belirten parametre.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   **/</span>
   <span style="color: #000080; font-weight: bold">void</span> sort_books(Command_Type type);


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Kayıt dosyasına yeni kitap eklemeyi sağlayan metod.</span>
<span style="color: #008800; font-style: italic">   * Eğer mevcut oturumda silinen dosya varsa yeni veri silinenlerin </span>
<span style="color: #008800; font-style: italic">   * yerie eklenir.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Inputs--</span>
<span style="color: #008800; font-style: italic">   *    Book book: Eklenmesi istenen kitap nesnesi.</span>
<span style="color: #008800; font-style: italic">   **/</span>
   <span style="color: #000080; font-weight: bold">void</span> add_book(Book book);


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Kayıt dosyasından kitap nesnesi alan metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Input--</span>
<span style="color: #008800; font-style: italic">   *    unsigned int book_id: Alınacak kitabın sıra numarası.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *    Book: Alınan verinin Book nesnesi. </span>
<span style="color: #008800; font-style: italic">   **/</span>
   Book get_book(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> book_id);


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Kayıt dosyasındaki bir verinin güncellenmesini sağlayan</span>
<span style="color: #008800; font-style: italic">   * metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Inputs--</span>
<span style="color: #008800; font-style: italic">   *   unsigned int book_index: Değiştirilmesi istenen kitabın sıra </span>
<span style="color: #008800; font-style: italic">   *                  numarası.</span>
<span style="color: #008800; font-style: italic">   *   Book new_book          : Değişecek kitabın yeni hali.</span>
<span style="color: #008800; font-style: italic">   **/</span>
   <span style="color: #000080; font-weight: bold">void</span> update_book(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> book_index, Book new_book);

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Kayıt dosyasındaki istenilen verinin silinmiş olarak </span>
<span style="color: #008800; font-style: italic">   * işaretlenmesini sağlayan metod. Bu metod veriyi fiziksel</span>
<span style="color: #008800; font-style: italic">   * olarak silmez. Sadece durumunu silinmiş olarak değiştirir.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Input--</span>
<span style="color: #008800; font-style: italic">   *    unsigned int index: Silinecek verinin sıra numarası.</span>
<span style="color: #008800; font-style: italic">   **/</span>
   <span style="color: #000080; font-weight: bold">void</span> delete_book(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index);


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Silinenler listesinde eleman bulunup bulunmadığını</span>
<span style="color: #008800; font-style: italic">   * kontrol eden metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *    bool: Eğer veri varsa true, yoksa false.</span>
<span style="color: #008800; font-style: italic">   **/</span>
   <span style="color: #000080; font-weight: bold">bool</span> any_deleted_books();


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Fiziksel diskteki verileri standart çıktı </span>
<span style="color: #008800; font-style: italic">   * birimine düzenli biçimde aktaran metod.</span>
<span style="color: #008800; font-style: italic">   **/</span>
   <span style="color: #000080; font-weight: bold">void</span> print_books();


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Fiziksel diskte silinmemiş kaç veri olduğunu </span>
<span style="color: #008800; font-style: italic">   * hesaplayan metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *    unsigned int: Silinmemiş kitap sayısı.</span>
<span style="color: #008800; font-style: italic">   **/</span>
   <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> book_count();


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Silinen verilerin fiziksel bellekten de silinmesini sağlayıp</span>
<span style="color: #008800; font-style: italic">   * dosyanın sıkıştırılmasını sağlayan metod.</span>
<span style="color: #008800; font-style: italic">   **/</span>
   <span style="color: #000080; font-weight: bold">void</span> compress_books();

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Nesnenin sonlanmaya hazırlığını sağlayan metod. Dosyayı sıkıştırır</span>
<span style="color: #008800; font-style: italic">   * ve dosyaları kapatır.</span>
<span style="color: #008800; font-style: italic">   **/</span>
   <span style="color: #000080; font-weight: bold">void</span> prepare_quit(); 
  
};

<span style="color: #008080">#endif</span>
</pre></td></tr></table></div>

