<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%">  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * BooksIOHelper sınıfının atomik işlemlerinden </span>
<span style="color: #008800; font-style: italic"> * daha kompleks işlemler yapılmasını sağlayan </span>
<span style="color: #008800; font-style: italic"> * sınıf</span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic"> * Detaylı bilgi için Commands.h dosyasına bakın.</span>
<span style="color: #008800; font-style: italic"> **/</span>

<span style="color: #008080">#include &quot;../include/Commands.h&quot;</span>
<span style="color: #008080">#include &lt;iostream&gt;</span>


Commands::Commands(){
    <span style="color: #008800; font-style: italic">//default const</span>
}

<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> Commands::smallest(Command_Type type,
                                <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> from,
                                <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> to){

    std::string smallest = <span style="color: #0000FF">&quot;&quot;</span>;
    std::string temp;
    <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> smallest_index;
    <span style="color: #000080; font-weight: bold">int</span> i = from;
    
    <span style="color: #000080; font-weight: bold">while</span> (i &lt;= to) {
        <span style="color: #000080; font-weight: bold">if</span> (type == Command_Type::by_isbn){
            temp = books.get_just_isbn(i);
        }<span style="color: #000080; font-weight: bold">else</span>{
            temp = books.get_just_name(i);
        }

        <span style="color: #000080; font-weight: bold">if</span> (temp &lt; smallest || smallest == <span style="color: #0000FF">&quot;&quot;</span>){
            smallest = temp;
            smallest_index = i;
        }
        
        i++;
    }

    <span style="color: #000080; font-weight: bold">return</span> smallest_index;
}

<span style="color: #000080; font-weight: bold">int</span> Commands::linear_search_by_isbn(std::string isbn){
    <span style="color: #000080; font-weight: bold">int</span> count = books.get_count();
    <span style="color: #000080; font-weight: bold">int</span> i = <span style="color: #0000FF">0</span>;

    <span style="color: #000080; font-weight: bold">while</span> (i &lt; count){
	<span style="color: #000080; font-weight: bold">if</span> (books.get_just_isbn(i) == isbn){
	    <span style="color: #000080; font-weight: bold">if</span> (books.get_record(i).get_state() == <span style="color: #0000FF">&quot;n&quot;</span>)
		<span style="color: #000080; font-weight: bold">return</span> i;
	}
	i++;
    }

    <span style="color: #000080; font-weight: bold">return</span> -<span style="color: #0000FF">1</span>;
}

<span style="color: #000080; font-weight: bold">bool</span> Commands::are_books_sorted(Command_Type type){
    <span style="color: #000080; font-weight: bold">int</span> limit = books.get_count();
    <span style="color: #000080; font-weight: bold">int</span> i = <span style="color: #0000FF">0</span>;

    <span style="color: #000080; font-weight: bold">if</span> (type == Command_Type::by_isbn){
        
        <span style="color: #000080; font-weight: bold">while</span> (i &lt; limit-<span style="color: #0000FF">1</span>){
            <span style="color: #000080; font-weight: bold">if</span> (books.get_just_isbn(i) &gt; books.get_just_isbn(i+<span style="color: #0000FF">1</span>)){
                <span style="color: #000080; font-weight: bold">return</span> false;
            }
            i++;

        }
    }<span style="color: #000080; font-weight: bold">else</span>{
        <span style="color: #000080; font-weight: bold">while</span> (i &lt; limit-<span style="color: #0000FF">1</span>){
            <span style="color: #000080; font-weight: bold">if</span> (books.get_just_name(i) &gt; books.get_just_name(i+<span style="color: #0000FF">1</span>)){
                <span style="color: #000080; font-weight: bold">return</span> false;
            }
            i++;

        }
    }
    <span style="color: #000080; font-weight: bold">return</span> true;
}

<span style="color: #000080; font-weight: bold">void</span> Commands::sort_books(Command_Type type){
    
    <span style="color: #000080; font-weight: bold">if</span>(<span style="color: #000080; font-weight: bold">this</span>-&gt;are_books_sorted(type)){
        <span style="color: #000080; font-weight: bold">return</span>;
    }

    std::cout &lt;&lt; <span style="color: #0000FF">&quot;Sıralanıyor...&quot;</span> &lt;&lt; std::endl;

    <span style="color: #000080; font-weight: bold">int</span> i = <span style="color: #0000FF">0</span>;
    <span style="color: #000080; font-weight: bold">int</span> length = books.get_count();
    <span style="color: #000080; font-weight: bold">int</span> temp_smallest;
    <span style="color: #000080; font-weight: bold">while</span> (i &lt; length){
        temp_smallest = smallest(type, i, length-<span style="color: #0000FF">1</span>);
        books.swap_records(i, temp_smallest);
        i++;
    }
    books.save_file();
    
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;Sıralandı&quot;</span> &lt;&lt; std::endl;
       
}

<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> Commands::find_book(Command_Type type, std::string value){
    <span style="color: #000080; font-weight: bold">if</span> (are_books_sorted(type)){
        <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> left_index = <span style="color: #0000FF">0</span>;
        <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> right_index = books.get_count()-<span style="color: #0000FF">1</span>;
        <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> middle_index;
        <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> i = <span style="color: #0000FF">0</span>;

        <span style="color: #000080; font-weight: bold">while</span> (left_index &lt;= right_index){
            middle_index = (<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span>) ((left_index+right_index)/<span style="color: #0000FF">2</span>);
            std::string mid_value;
            
            <span style="color: #000080; font-weight: bold">if</span> (type == Command_Type::by_isbn){
                mid_value = books.get_just_isbn(middle_index);
            }<span style="color: #000080; font-weight: bold">else</span>{
                mid_value = books.get_just_name(middle_index);
            }

            <span style="color: #000080; font-weight: bold">if</span> (mid_value == value){
                <span style="color: #000080; font-weight: bold">return</span> middle_index;
            }<span style="color: #000080; font-weight: bold">else</span> <span style="color: #000080; font-weight: bold">if</span>(value &gt; mid_value){
                left_index = middle_index+<span style="color: #0000FF">1</span>;
            }<span style="color: #000080; font-weight: bold">else</span> <span style="color: #000080; font-weight: bold">if</span>(value &lt; mid_value){
                right_index = middle_index-<span style="color: #0000FF">1</span>;
            }
        }
    }<span style="color: #000080; font-weight: bold">else</span>{
        std::cout &lt;&lt; <span style="color: #0000FF">&quot;Veriler sirali degil!&quot;</span>&lt;&lt;std::endl; 
        <span style="color: #000080; font-weight: bold">this</span>-&gt;sort_books(type);
        <span style="color: #000080; font-weight: bold">return</span> find_book(type, value);
    }
    <span style="color: #000080; font-weight: bold">return</span> -<span style="color: #0000FF">1</span>;
}

<span style="color: #000080; font-weight: bold">void</span> Commands::add_book(Book book){
    <span style="color: #000080; font-weight: bold">int</span> already_exist = linear_search_by_isbn(book.get_isbn());
    <span style="color: #000080; font-weight: bold">if</span> (already_exist &gt;= <span style="color: #0000FF">0</span>){
	std::cout &lt;&lt; <span style="color: #0000FF">&quot;Bu kayıt zaten mevcut. Sıra no: &quot;</span> &lt;&lt; already_exist;
	std::cout &lt;&lt; std::endl;
	<span style="color: #000080; font-weight: bold">return</span>;
    }

    
    <span style="color: #000080; font-weight: bold">if</span> (deleted_books.empty()){
        books.add_book(book);
    }<span style="color: #000080; font-weight: bold">else</span>{
        books.write_book(book, deleted_books.top());
        deleted_books.pop();
    }
}

Book Commands::get_book(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> book_id){
    <span style="color: #000080; font-weight: bold">return</span> books.get_record(book_id);
}

<span style="color: #000080; font-weight: bold">void</span> Commands::update_book(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> book_index, Book new_book){
    books.write_book(new_book, book_index);
}

<span style="color: #000080; font-weight: bold">bool</span> Commands::any_deleted_books(){
    <span style="color: #000080; font-weight: bold">if</span> (deleted_books.empty()){
        <span style="color: #000080; font-weight: bold">return</span> false;
    }<span style="color: #000080; font-weight: bold">else</span> {
        <span style="color: #000080; font-weight: bold">return</span> true;
    }
}

<span style="color: #000080; font-weight: bold">void</span> Commands::delete_book(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index){
    books.delete_book(index);
    deleted_books.push(index);
}

<span style="color: #000080; font-weight: bold">void</span> Commands::print_books(){
    <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> limit = books.get_count();
    Book temp_book;
    <span style="color: #000080; font-weight: bold">int</span> i = <span style="color: #0000FF">0</span>;
    <span style="color: #000080; font-weight: bold">while</span> (i &lt; limit){
        temp_book = books.get_record(i);

        <span style="color: #000080; font-weight: bold">if</span> (temp_book.get_state() == <span style="color: #0000FF">&quot;d&quot;</span>){
            i++;
            <span style="color: #000080; font-weight: bold">continue</span>;
        }

        std::cout &lt;&lt; <span style="color: #0000FF">&quot;\n============Sira:&quot;</span> &lt;&lt; i &lt;&lt; <span style="color: #0000FF">&quot;================&quot;</span> &lt;&lt; std::endl;
        std::cout &lt;&lt; <span style="color: #0000FF">&quot;Isbn : &quot;</span>  &lt;&lt;temp_book.get_isbn()   &lt;&lt; std::endl;
        std::cout &lt;&lt; <span style="color: #0000FF">&quot;Isim : &quot;</span>  &lt;&lt;temp_book.get_name()   &lt;&lt; std::endl;
        std::cout &lt;&lt; <span style="color: #0000FF">&quot;Yazar : &quot;</span> &lt;&lt;temp_book.get_author() &lt;&lt; std::endl;
        std::cout &lt;&lt; <span style="color: #0000FF">&quot;Fiyat : $&quot;</span> &lt;&lt;temp_book.get_cost()  &lt;&lt; std::endl;

        i++;
    }
    
}

<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> Commands::book_count(){
    <span style="color: #000080; font-weight: bold">return</span> books.get_count() - books.get_deleted_count();
}

<span style="color: #000080; font-weight: bold">void</span> Commands::compress_books(){
    books.compress_file();
    <span style="color: #000080; font-weight: bold">while</span> (!deleted_books.empty()){
        deleted_books.pop();
    }
}

<span style="color: #000080; font-weight: bold">void</span> Commands::prepare_quit(){
    books.compress_file();
    books.close_file();
}
</pre></td></tr></table></div>

