<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%">  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * Tüm sistemin ayağa kaldırıldığı ve kullanıcı etkileşimini sağlayan fonksiyonların</span>
<span style="color: #008800; font-style: italic"> * bulunduğu dosya.</span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic"> * Dosyadaki tüm fonksiyonlar aptaldır, ayrıca açıklanmamıştır. Yalnızca veri alır</span>
<span style="color: #008800; font-style: italic"> * ve commands nesnesinin fonksiyonlarını kullanılır.  </span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic"> * Yazar: Berkay Dedeoğlu</span>
<span style="color: #008800; font-style: italic"> * Tarih: 12.03.2018</span>
<span style="color: #008800; font-style: italic"> **/</span>


<span style="color: #008080">#include &lt;iostream&gt;</span>
<span style="color: #008080">#include &lt;string&gt;</span>
<span style="color: #008080">#include &quot;../include/Book.h&quot;</span>
<span style="color: #008080">#include &quot;../include/Commands.h&quot;</span>
<span style="color: #008080">#include &quot;../include/PlaintoBinary.h&quot;</span>



<span style="color: #000080; font-weight: bold">void</span> print_menu(<span style="color: #000080; font-weight: bold">int</span>);   <span style="color: #008800; font-style: italic">// Seçme menüsünü yazdırmak.</span>
<span style="color: #000080; font-weight: bold">int</span> user_type();        <span style="color: #008800; font-style: italic">// Yönetici ya da normal kullanıcı seçimi </span>
<span style="color: #000080; font-weight: bold">void</span> create_book();     <span style="color: #008800; font-style: italic">// Yeni kitap oluşturmak ve onu dosyaya eklemk</span>
<span style="color: #000080; font-weight: bold">void</span> find_by_isbn();    <span style="color: #008800; font-style: italic">// ISBN&#39;e göre ikili dosyada veri arama</span>
<span style="color: #000080; font-weight: bold">void</span> find_by_name();    <span style="color: #008800; font-style: italic">// İsme göre ikili dosyada veri arama</span>
<span style="color: #000080; font-weight: bold">void</span> delete_record();   <span style="color: #008800; font-style: italic">// İkili dosyada istenen kaydın sanal olarak silinmesi</span>
<span style="color: #000080; font-weight: bold">void</span> sort_records();    <span style="color: #008800; font-style: italic">// İstenilen tipe göre ikili dosyanın sıralanması</span>
<span style="color: #000080; font-weight: bold">void</span> bad_choice();      <span style="color: #008800; font-style: italic">// Yanlış ya da eksik bir seçim yapılması durumunda bunun kullanıcıya gösterilmesi</span>
<span style="color: #000080; font-weight: bold">void</span> update_record();   <span style="color: #008800; font-style: italic">// İkili dosyadaki verinin bir özelliğini değiştirme.</span>



<span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * Yukarıdaki tüm fonksiyonların kullandığı temel sınıf. </span>
<span style="color: #008800; font-style: italic"> * Bu dosyadaki hiçbir metod dosyaya doğrudan erişim sağlamaz,</span>
<span style="color: #008800; font-style: italic"> * Commands sınıfını kullanır.</span>
<span style="color: #008800; font-style: italic"> **/</span>
Commands commands;




<span style="color: #000080; font-weight: bold">int</span> main(){

  <span style="color: #008800; font-style: italic">/*</span>
<span style="color: #008800; font-style: italic">    </span>
<span style="color: #008800; font-style: italic">  // Text dosyasını binary dosyasına yazmak için yorumu kaldırın.</span>
<span style="color: #008800; font-style: italic">  </span>
<span style="color: #008800; font-style: italic">  PlaintoBinary ptb;</span>
<span style="color: #008800; font-style: italic">  ptb.write_to_data_file();</span>
<span style="color: #008800; font-style: italic">  return 1;</span>
<span style="color: #008800; font-style: italic">  </span>
<span style="color: #008800; font-style: italic">  */</span>
  
  <span style="color: #000080; font-weight: bold">char</span> type = user_type();
  

  <span style="color: #000080; font-weight: bold">while</span> (true){
    print_menu(type);
    <span style="color: #000080; font-weight: bold">char</span> val;
    std::cin &gt;&gt; val;

    
    <span style="color: #000080; font-weight: bold">switch</span> (val){
      <span style="color: #000080; font-weight: bold">case</span> <span style="color: #800080">&#39;1&#39;</span>: 
        commands.print_books();
        <span style="color: #000080; font-weight: bold">break</span>;
      <span style="color: #000080; font-weight: bold">case</span> <span style="color: #800080">&#39;2&#39;</span>:
        find_by_isbn();
        <span style="color: #000080; font-weight: bold">break</span>;
      <span style="color: #000080; font-weight: bold">case</span> <span style="color: #800080">&#39;3&#39;</span>:
        find_by_name();
        <span style="color: #000080; font-weight: bold">break</span>;
      <span style="color: #000080; font-weight: bold">case</span> <span style="color: #800080">&#39;4&#39;</span>:
        create_book();
        <span style="color: #000080; font-weight: bold">break</span>;
      <span style="color: #000080; font-weight: bold">case</span> <span style="color: #800080">&#39;5&#39;</span>:
        delete_record();
        <span style="color: #000080; font-weight: bold">break</span>;
      <span style="color: #000080; font-weight: bold">case</span> <span style="color: #800080">&#39;6&#39;</span>:
        update_record();
        <span style="color: #000080; font-weight: bold">break</span>;
      <span style="color: #000080; font-weight: bold">case</span> <span style="color: #800080">&#39;7&#39;</span>:
        sort_records();
        <span style="color: #000080; font-weight: bold">break</span>;
      <span style="color: #000080; font-weight: bold">case</span> <span style="color: #800080">&#39;q&#39;</span>:
        commands.prepare_quit();
        <span style="color: #000080; font-weight: bold">return</span> <span style="color: #0000FF">1</span>;
      default:
	  bad_choice();  
    }

    
    <span style="color: #008800; font-style: italic">// Devam etmek için bir tuşa basın komutları</span>
    <span style="color: #000080; font-weight: bold">char</span> temp;
    std::cin.ignore();
    std::cout &lt;&lt; std::endl &lt;&lt; std::endl &lt;&lt; std::endl &lt;&lt; std::endl;
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;Devam etmek için bir &lt;Enter&gt; basın :)&quot;</span>; 
    std::cin.getline(&amp;temp, <span style="color: #0000FF">1</span>);
    std::cin.clear();
    <span style="color: #008800; font-style: italic">// Devam etmek için bir tuşa basın komutları</span>
    
  }

  <span style="color: #000080; font-weight: bold">return</span> <span style="color: #0000FF">0</span>;
}

<span style="color: #000080; font-weight: bold">int</span> user_type(){
  <span style="color: #000080; font-weight: bold">char</span> type;

  std::cout &lt;&lt; <span style="color: #0000FF">&quot;1. Normal&quot;</span> &lt;&lt; std::endl;
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;2. Yonetici&quot;</span> &lt;&lt; std::endl; 

  std::cin &gt;&gt; type;
  <span style="color: #000080; font-weight: bold">return</span> type;
}

<span style="color: #000080; font-weight: bold">void</span> print_menu(<span style="color: #000080; font-weight: bold">int</span> type){
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;====================================&quot;</span> &lt;&lt; std::endl;

  std::cout &lt;&lt; <span style="color: #0000FF">&quot;1. Kayitlari goruntule&quot;</span> &lt;&lt; std::endl;
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;2. ISBN&#39;e gore arama&quot;</span> &lt;&lt; std::endl;
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;3. Kitap adina gore arama&quot;</span> &lt;&lt; std::endl;

  <span style="color: #000080; font-weight: bold">if</span> (type == <span style="color: #800080">&#39;2&#39;</span>){
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;4. Kayit ekle&quot;</span> &lt;&lt; std::endl;
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;5. Kayit sil&quot;</span> &lt;&lt; std::endl;
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;6. Kaydi Guncelle&quot;</span> &lt;&lt; std::endl;
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;7. Kayitlari sirala&quot;</span> &lt;&lt; std::endl;
  }

  std::cout &lt;&lt; <span style="color: #0000FF">&quot;Cikmak icin &#39;q&#39; basin ...&quot;</span> &lt;&lt; std::endl;

  std::cout &lt;&lt; <span style="color: #0000FF">&quot;====================================&quot;</span> &lt;&lt; std::endl;
}

<span style="color: #000080; font-weight: bold">void</span> create_book(){
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;ISBN no : &quot;</span>;
  std::string isbn;
  std::cin &gt;&gt; isbn;

  std::cout &lt;&lt; <span style="color: #0000FF">&quot;Isim : &quot;</span>;
  std::string name;
  std::cin &gt;&gt; name;

  std::cout &lt;&lt; <span style="color: #0000FF">&quot;Yazar : &quot;</span>;
  std::string author;
  std::cin &gt;&gt; author;

  std::cout &lt;&lt; <span style="color: #0000FF">&quot;Fiyat : &quot;</span>;
  std::string cost;
  std::cin &gt;&gt; cost;

  Book book(isbn, name, author, cost);

  commands.add_book(book);
}

<span style="color: #000080; font-weight: bold">void</span> find_by_isbn(){
  std::string isbn;
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;ISBN numarasi girin: &quot;</span>;
  std::cin &gt;&gt; isbn;
  <span style="color: #000080; font-weight: bold">int</span> id = commands.find_book(Command_Type::by_isbn, isbn);
  <span style="color: #000080; font-weight: bold">if</span> (commands.get_book(id).get_state() == <span style="color: #0000FF">&quot;d&quot;</span>){
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;Bu Kitap silinmistir!!!&quot;</span>&lt;&lt;std::endl;
  }<span style="color: #000080; font-weight: bold">else</span>{
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;Aradiginiz kaydin sıra nosu: &quot;</span> &lt;&lt; id &lt;&lt; std::endl;
  }
  
}

<span style="color: #000080; font-weight: bold">void</span> find_by_name(){
    std::string name;
    
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;Kitap ismini girin: &quot;</span>;
    std::cin.ignore();
    std::getline(std::cin, name);
    <span style="color: #000080; font-weight: bold">int</span> id = commands.find_book(Command_Type::by_name, name);
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;Aradiginiz kaydin sıra nosu: &quot;</span> &lt;&lt; id &lt;&lt; std::endl;
}

<span style="color: #000080; font-weight: bold">void</span> delete_record(){
  std::string val;
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;Silinecek kitap sira numarasi: &quot;</span>;
  std::cin &gt;&gt; val;
  <span style="color: #000080; font-weight: bold">int</span> id  = std::stoi(val);
  commands.delete_book(id);
}

<span style="color: #000080; font-weight: bold">void</span> sort_records(){
  <span style="color: #000080; font-weight: bold">if</span> (commands.any_deleted_books()){
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;Silinmis kayitlar var ve sizin bu islemi yapmaniz&quot;</span>;
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;kayit dosyasina zarar verebilir.&quot;</span>&lt;&lt;std::endl;
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;Veriler yeniden siralansin mi?(e,h)&quot;</span>;

    <span style="color: #000080; font-weight: bold">char</span> validate;
    std::cin &gt;&gt; validate;
    
    <span style="color: #000080; font-weight: bold">if</span> (validate == <span style="color: #800080">&#39;e&#39;</span>){
      commands.compress_books();
      std::cout &lt;&lt; <span style="color: #0000FF">&quot;Islem tamamlandi. siralari kontrol edin&quot;</span>&lt;&lt; std::endl;
    }<span style="color: #000080; font-weight: bold">else</span> <span style="color: #000080; font-weight: bold">if</span> (validate == <span style="color: #800080">&#39;h&#39;</span>){
      std::cout &lt;&lt; <span style="color: #0000FF">&quot;Siralama islemi yapilmayacak&quot;</span> &lt;&lt; std::endl;
      <span style="color: #000080; font-weight: bold">return</span>;
    }<span style="color: #000080; font-weight: bold">else</span>{
      bad_choice();
      <span style="color: #000080; font-weight: bold">return</span>;
    }

  }
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;1. ISBN&#39;e gore sirala&quot;</span>&lt;&lt; std::endl;
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;2. Isme gore sirala&quot;</span>&lt;&lt; std::endl;
  <span style="color: #000080; font-weight: bold">char</span> choice;
  std::cin &gt;&gt; choice;

  <span style="color: #000080; font-weight: bold">if</span> (choice == <span style="color: #800080">&#39;1&#39;</span>){
    commands.sort_books(Command_Type::by_isbn);
  }<span style="color: #000080; font-weight: bold">else</span> <span style="color: #000080; font-weight: bold">if</span> (choice == <span style="color: #800080">&#39;2&#39;</span>){
    commands.sort_books(Command_Type::by_name);
  }<span style="color: #000080; font-weight: bold">else</span>{
    bad_choice();
  }
}

<span style="color: #000080; font-weight: bold">void</span> bad_choice(){
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;Eksik ya da hatali bir secim yaptiniz!!!&quot;</span>&lt;&lt;std::endl;
}

<span style="color: #000080; font-weight: bold">void</span> update_record(){
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;Guncellenmesini istediginiz kaydin sıra numarası: &quot;</span>;
  std::string id;
  std::cin &gt;&gt; id;
  Book book = commands.get_book(std::stoi(id));
  
  <span style="color: #000080; font-weight: bold">if</span> (book.get_state() == <span style="color: #0000FF">&quot;d&quot;</span>){
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;Bu kayit silinimistir !!!&quot;</span>&lt;&lt; std::endl;
    <span style="color: #000080; font-weight: bold">return</span>;
  }
  
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;1. ISBN: &quot;</span> &lt;&lt; book.get_isbn() &lt;&lt; std::endl;
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;2. ISIM: &quot;</span> &lt;&lt; book.get_name() &lt;&lt; std::endl;
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;3. YAZAR: &quot;</span> &lt;&lt; book.get_author() &lt;&lt; std::endl;
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;4. FIYAT: $&quot;</span> &lt;&lt; book.get_cost() &lt;&lt; std::endl;
  
  std::string choice;
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;Seciminiz: &quot;</span>;
  std::cin &gt;&gt; choice;

  std::string value;
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;Yeni hali: &quot;</span>;
  std::cin.ignore();
  std::getline(std::cin, value);

  <span style="color: #000080; font-weight: bold">switch</span> (std::stoi(choice)){
    <span style="color: #000080; font-weight: bold">case</span> <span style="color: #0000FF">1</span>: book.set_isbn(value);
      <span style="color: #000080; font-weight: bold">break</span>;
    <span style="color: #000080; font-weight: bold">case</span> <span style="color: #0000FF">2</span>: book.set_name(value);
      <span style="color: #000080; font-weight: bold">break</span>;
    <span style="color: #000080; font-weight: bold">case</span> <span style="color: #0000FF">3</span>: book.set_author(value);
      <span style="color: #000080; font-weight: bold">break</span>;
    <span style="color: #000080; font-weight: bold">case</span> <span style="color: #0000FF">4</span>: book.set_cost(value);
      <span style="color: #000080; font-weight: bold">break</span>;

    default: bad_choice();
      <span style="color: #000080; font-weight: bold">break</span>;
  }

  commands.update_book(std::stoi(id), book);
  std::cout &lt;&lt; <span style="color: #0000FF">&quot;Kayit basariyla guncellenmistir!!&quot;</span> &lt;&lt; std::endl;
}
</pre></td></tr></table></div>

