<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * Plain text formatındaki hazır kitap kayıtlarını</span>
<span style="color: #008800; font-style: italic"> * binary dosyaya yazan sınıf.</span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic"> * Detaylı bilgi için PlainToBinary.h dosyasına bakın.</span>
<span style="color: #008800; font-style: italic"> **/</span>

<span style="color: #008080">#include &quot;../include/PlaintoBinary.h&quot;</span>
<span style="color: #008080">#include &quot;../include/DATARULES.h&quot;</span>



PlaintoBinary::PlaintoBinary() {
  textFile.open(TEXTFILENAME);
  dataFile.open(DATAFILENAME,  std::ios::out | std::ios::binary);
}

<span style="color: #000080; font-weight: bold">int</span> PlaintoBinary::book_count() {
  <span style="color: #008800; font-style: italic">// Toplam \n değeri 5&#39;e de bölünebilir.</span>
  
  <span style="color: #000080; font-weight: bold">register</span> <span style="color: #000080; font-weight: bold">char</span> c;
  <span style="color: #000080; font-weight: bold">register</span> <span style="color: #000080; font-weight: bold">char</span> oldc;
  <span style="color: #000080; font-weight: bold">register</span> <span style="color: #000080; font-weight: bold">int</span> count;

  <span style="color: #000080; font-weight: bold">while</span> (textFile.get(c)){
    <span style="color: #000080; font-weight: bold">if</span> (c == <span style="color: #800080">&#39;\n&#39;</span> &amp;&amp; oldc == <span style="color: #800080">&#39;\n&#39;</span>)  <span style="color: #008800; font-style: italic">// Ardarda 2 \n varsa yeni kitap </span>
      count++;
    oldc = c;
  }

  <span style="color: #008800; font-style: italic">// Son kitabın sonunda dosya bittiğinden &#39;\n&#39; karakteri yok.</span>
  <span style="color: #008800; font-style: italic">// Bu yüzden sayılan sayıya 1 eklenir.</span>
  count++;  
  
  <span style="color: #000080; font-weight: bold">return</span> count; 
}

<span style="color: #000080; font-weight: bold">void</span> PlaintoBinary::text_file_begin(){
  textFile.clear();
  textFile.seekg(<span style="color: #0000FF">0</span>, std::ios::beg);
}

std::string * PlaintoBinary::parse_a_book(){
  std::string * bookArr = <span style="color: #000080; font-weight: bold">new</span> std::string[<span style="color: #0000FF">4</span>];

  std::getline(textFile, bookArr[<span style="color: #0000FF">0</span>]);  <span style="color: #008800; font-style: italic">// ISBN numarası</span>
  std::getline(textFile, bookArr[<span style="color: #0000FF">1</span>]);  <span style="color: #008800; font-style: italic">// Kitap İsmi</span>
  std::getline(textFile, bookArr[<span style="color: #0000FF">2</span>]);  <span style="color: #008800; font-style: italic">// Yazar Adı</span>
  std::getline(textFile, bookArr[<span style="color: #0000FF">3</span>]);  <span style="color: #008800; font-style: italic">// Fiyat</span>

  std::string temp;
  std::getline(textFile, temp); <span style="color: #008800; font-style: italic">// Her kitabın altındaki boş satır.</span>

  <span style="color: #000080; font-weight: bold">return</span> bookArr;
}

Book PlaintoBinary::create_a_book(std::string strBook[<span style="color: #0000FF">4</span>]){
  Book book(strBook[<span style="color: #0000FF">0</span>], strBook[<span style="color: #0000FF">1</span>],
	    strBook[<span style="color: #0000FF">2</span>], strBook[<span style="color: #0000FF">3</span>]);

  <span style="color: #000080; font-weight: bold">delete</span>[] strBook;  <span style="color: #008800; font-style: italic">// Hafıza serbest bırakılmalı.</span>

  <span style="color: #000080; font-weight: bold">return</span> book;
}

<span style="color: #000080; font-weight: bold">void</span> PlaintoBinary::write_a_book(Book book){
  std::string str = book.serialize();  <span style="color: #008800; font-style: italic">// 331 karakterli (byte) kitap stringi. Bkz. DATARULES.h</span>
  dataFile &lt;&lt; str;
}

<span style="color: #000080; font-weight: bold">void</span> PlaintoBinary::close_files(){
  textFile.close();
  dataFile.close();
}

<span style="color: #000080; font-weight: bold">void</span> PlaintoBinary::write_to_data_file(){
  <span style="color: #000080; font-weight: bold">int</span> count = book_count();
  text_file_begin(); <span style="color: #008800; font-style: italic">// Sayımdan sonra dosya göstericisi en başa alınır.</span>
  Book tempBook;
  
  <span style="color: #000080; font-weight: bold">int</span> i = <span style="color: #0000FF">0</span>;
  <span style="color: #000080; font-weight: bold">while</span> (i &lt; count){
    std::string * arr = parse_a_book();
    tempBook = create_a_book(arr);	
    write_a_book(tempBook);
    i++;
  }

  close_files();
}
</pre></td></tr></table></div>

